.admin-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
    background: #ece8df;
}

.admin-layout__main {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.admin-layout__content {
  flex: 1;
  padding: 15px 24px;
  background-color: #f3f4f6;
}
